/* Réinitialiser les styles par défaut du navigateur */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-spacing: 0;
    box-sizing: border-box;
}

/* Styles pour le menu de navigation */
.menu-label,
.menu-cb {
    cursor: pointer;
    appearance: none;
    position: fixed;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 30px;
    z-index: 4;
}

.menu-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    max-width: 300px;
    padding-top: 110px;
    text-align: right;
    background: #333; /* Menu foncé */
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.2s linear;
    overflow-y: auto;
}

.menu-item {
    padding: .5em 20px;
    border-top: 1px solid #444; /* Bordure du menu plus sombre */
    position: relative;
}

.menu-item .dropbtn {
    cursor: pointer;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: #333; /* Fond de menu plus foncé */
    position: static;
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: #ddd; /* Texte du menu blanc */
    padding: 12px 16px;
    text-decoration: none;
    flex-grow: 1;
}

.dropdown-content a:hover {
    background-color: #444; /* Couleur de fond au survol du menu plus sombre */
}

.menu-item.dropdown:hover .dropdown-content {
    max-height: 200px;
    transition: max-height 0.5s ease-in;
    background: #333; /* Fond de menu plus foncé */
}

.menu-cb:checked ~ .menu-nav {
    transform: translateX(0);
}

.logo_media {
    width: 10%;
    height: 10%;
}

.paragraph-contenu {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* Styles pour le corps */
body {
    background-color: #1f1f1f;
    font-family: Arial, sans-serif;
    color: #fff;
}

/* Styles pour les liens */
a {
    color: #ddd;
    font-size: 32px;
    text-decoration: none;
}

/* Styles pour le header */


header nav a {

    color: #ddd;
}

/* Styles pour la section des projets */
#all-projects {
    padding: 50px 0;
    background-color: #f9f9f9;
}

#all-projects h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #333;
}

ul {
    list-style: none;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project {
    min-width: 400px; /* Largeur minimum pour chaque projet */
    flex: 1 1 500px; /* Flex-grow, flex-shrink, flex-basis pour chaque projet */
    max-width: 800px; /* Largeur maximum pour chaque projet */
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: justify; /* Justifie le texte */
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative; /* Ajout pour positionner la catégorie */
    min-height: 1050px;
    max-height: 1500px;
}

.project img {
    display: block; /* S'assure que l'image est traitée comme un bloc */
    margin: 0 auto 20px auto; /* Centre l'image horizontalement et ajoute un espace en bas */
    width: 100%;
    height: auto;
    max-width: 500px; /* Augmentez cette largeur selon vos besoins */
    max-height: 400px; /* Augmentez cette hauteur selon vos besoins */
    object-fit: cover;
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #555;
    text-align: left;
}

.project p {
    font-size: 1em;
    color: #777;
    text-align: justify; /* Justifie le texte */
}

.project-category {
    display: block;
    width: fit-content;
    margin: 20px auto 10px auto; /* Espace le span de la catégorie du paragraphe */
    font-style: italic;
    color: #888;
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
}

.project-lang {
    display: block;
    width: fit-content;
    margin: 10px auto; /* Espace et centre le span des langages */
    font-style: italic;
    color: #888;
    text-align: center;
    font-weight: bold;
}

/* Animation pour les projets filtrés */
.project.hidden {
    transform: scale(0.9);
    opacity: 0;
}

/* Styles pour les liens de filtre */
.filter-links {
    text-align: center;
    margin-bottom: 30px;
}

.filter-links li {
    display: inline-block;
    margin-right: 15px;
}

.filter-links li a {
    color: #888;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.filter-links li a:hover,
.filter-links li a.active {
    color: #333;
    font-weight: bold;
}

/* Media Queries pour la responsivité */
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        max-width: 90%;
    }
}

/* Styles pour le footer */
footer {
    background-color: #222;
    color: #ddd;
    text-align: center;
    padding: 1rem 0;
}

.project-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacement supplémentaire au-dessus du bouton */
}

.code-link {
    display: inline-block;
    padding: 10px 20px; /* Ajuster la taille du bouton */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Taille de police */
    background-color: #6c757d;
}

.code-link:hover {
    background-color: #5a6268;
}
.project-date {
    font-style: italic;
    font-size: 14px;
    color: #666; /* couleur grise pour la date */
}
.menu-item .dropbtn {
    cursor: pointer;
  }
  
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: #333; /* Fond de menu plus foncé */
    position: static;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }
  
  .dropdown-content a {
    color: #ddd; /* Texte du menu blanc */
    padding: 12px 16px;
    text-decoration: none;
    flex-grow: 1;
    text-size-adjust: auto;
    font-size: medium;
    font-weight: bold;
  }
  
  .dropdown-content a:hover {
    background-color: #444; /* Couleur de fond au survol du menu plus sombre */
  }